body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .container {
    width: 400px;
    background: linear-gradient(to bottom, #11998E, #38EF7D);
    color: #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: background 0.3s ease;
  }
  
  h1 {
    text-align: center;
    color: #000;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 8px;
    color: #333;
  }
  
  #height,
  #weight {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  button {
    width: 80%; /* Adjusted size to 80% */
    height: 35px; /* Adjusted size to 35px */
    background: #000; /* Set button color to black */
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background: #333; /* Darken color on hover */
    transform: scale(1.05);
  }
  
  #results {
    font-size: 24px;
    text-align: center;
    color: #000;
    margin-top: 20px;
  }
  
  #weight-guide {
    margin-top: 20px;
    text-align: center;
    color: #333;
  }
  
  @media (max-width: 600px) {
    .container {
      width: 90%;
    }
  }
  